<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books Home</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div><h2>Success! Welcome, {{user.first_name}}!</h2></div>
            <div>
                <a href="/books/add">Add book and Review</a>
                <a href="/clear">Logout</a>
            </div>
        </div>
        <div class="left_side">

        </div>
        <div class="right_side">

        </div>
    </div>
</body>
</html>